{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    [
      "react-intl",
      {
        "extractFromFormatMessageCall": true,
        "messagesDir": "build/locale/"
      }
    ]
  ],
  "ignore": ["**/*.test.ts", "**/*.test.tsx", "src/storybook"]
}
