*.py[cod]
.*
!.gitattributes
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.node-version
!.npmrc
!.plop
!.prettierignore
!.prettierrc
!.pylintrc
!.travis*
!.tx
!.husky
!.changeset
*.log
*.pyc
*.mo
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
node_modules/
/static/
/videos/
/screenshots/
/results/
/testmo/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep
mochawesome.json
# Exported results file
django-queries-results.html

!.env.template
!.dependency-cruiser.js
!.featureFlags
/test-results/
/playwright-report/
/playwright/.cache/
