*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.node-version
!.npmrc
!.plop
!.prettierignore
!.prettierrc
!.pylintrc
!.travis*
!.tx
*.css
*.log
*.pyc
*.mo
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*
# data
/docs/_build/
/media/
/node_modules/
/static/
/videos/
/screenshots/
cypress/screenshots
cypress/videos
/results/
/saleor/static/assets/
webpack-bundle.json
/templates/templated_email/compiled/*
!/templates/templated_email/compiled/.gitkeep
cypress/reports

# Exported results file
django-queries-results.html
