<project>
  <files
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="..">
        <dir
          name=".featureFlags"/>
        <dir
          name=".storybook">
          <dir
            name="decorators"/>
          <dir
            name="helpers"/>
        </dir>
        <dir
          name="testUtils">
          <dir
            name="mocks"/>
        </dir>
      </dir>
      <dir
        name="apps">
        <dir
          name="components">
          <dir
            name="AllAppList"/>
          <dir
            name="AppActivateDialog"/>
          <dir
            name="AppAvatar"/>
          <dir
            name="AppDeactivateDialog"/>
          <dir
            name="AppDeleteDialog"/>
          <dir
            name="AppDetailsPage"/>
          <dir
            name="AppDialog"/>
          <dir
            name="AppFrame"/>
          <dir
            name="AppInProgressDeleteDialog"/>
          <dir
            name="AppInstallErrorPage"/>
          <dir
            name="AppInstallPage"/>
          <dir
            name="AppListPage"/>
          <dir
            name="AppListRow"/>
          <dir
            name="AppManifestTableDisplay"/>
          <dir
            name="AppPage"/>
          <dir
            name="AppPermissions"/>
          <dir
            name="AppPermissionsDialog"/>
          <dir
            name="AppWebhooksDisplay"/>
          <dir
            name="DeactivatedText"/>
          <dir
            name="ExternalAppContext"/>
          <dir
            name="InstallWithManifestFormButton"/>
          <dir
            name="InstalledAppList"/>
          <dir
            name="InstalledAppListRow"/>
          <dir
            name="MarketplaceAlert"/>
          <dir
            name="NotInstalledAppListRow"/>
          <dir
            name="SectionHeader"/>
        </dir>
        <dir
          name="hooks"/>
        <dir
          name="views">
          <dir
            name="AppInstallView"/>
          <dir
            name="AppListView"/>
          <dir
            name="AppManageView"/>
          <dir
            name="AppPermissionRequestView"/>
          <dir
            name="AppView"/>
        </dir>
      </dir>
      <dir
        name="attributes">
        <dir
          name="components">
          <dir
            name="AttributeBulkDeleteDialog"/>
          <dir
            name="AttributeDeleteDialog"/>
          <dir
            name="AttributeDetails"/>
          <dir
            name="AttributeListDatagrid"/>
          <dir
            name="AttributeListPage"/>
          <dir
            name="AttributeOrganization"/>
          <dir
            name="AttributePage"/>
          <dir
            name="AttributeProperties"/>
          <dir
            name="AttributeSwatchField"/>
          <dir
            name="AttributeValueDeleteDialog"/>
          <dir
            name="AttributeValueEditDialog"/>
          <dir
            name="AttributeValues"/>
        </dir>
        <dir
          name="utils"/>
        <dir
          name="views">
          <dir
            name="AttributeCreate"/>
          <dir
            name="AttributeDetails"/>
          <dir
            name="AttributeList"/>
        </dir>
      </dir>
      <dir
        name="auth">
        <dir
          name="components">
          <dir
            name="LoginLoading"/>
          <dir
            name="LoginPage"/>
          <dir
            name="NewPasswordPage"/>
          <dir
            name="ResetPasswordPage"/>
          <dir
            name="ResetPasswordSuccessPage"/>
        </dir>
        <dir
          name="hooks"/>
        <dir
          name="views"/>
      </dir>
      <dir
        name="categories">
        <dir
          name="components">
          <dir
            name="CategoryBackground"/>
          <dir
            name="CategoryCreatePage"/>
          <dir
            name="CategoryDeleteDialog"/>
          <dir
            name="CategoryDetailsForm"/>
          <dir
            name="CategoryListDatagrid"/>
          <dir
            name="CategoryListPage"/>
          <dir
            name="CategoryProductListDatagrid"/>
          <dir
            name="CategoryProducts"/>
          <dir
            name="CategorySubcategories"/>
          <dir
            name="CategoryUpdatePage"/>
        </dir>
        <dir
          name="views">
          <dir
            name="CategoryList"/>
        </dir>
      </dir>
      <dir
        name="channels">
        <dir
          name="components">
          <dir
            name="AssignmentList"/>
          <dir
            name="CannotDefineChannelsAvailabilityCard"/>
          <dir
            name="ChannelAllocationStrategy"/>
          <dir
            name="ChannelDeleteDialog"/>
          <dir
            name="ChannelForm"/>
          <dir
            name="ChannelPickerDialog"/>
          <dir
            name="ChannelStatus"/>
          <dir
            name="ShippingZones"/>
          <dir
            name="Warehouses"/>
        </dir>
        <dir
          name="pages">
          <dir
            name="ChannelDetailsPage"/>
          <dir
            name="ChannelsListPage"/>
        </dir>
        <dir
          name="views">
          <dir
            name="ChannelCreate"/>
          <dir
            name="ChannelDetails"/>
          <dir
            name="ChannelsList"/>
        </dir>
      </dir>
      <dir
        name="collections">
        <dir
          name="components">
          <dir
            name="CollectionCreatePage"/>
          <dir
            name="CollectionDetails"/>
          <dir
            name="CollectionDetailsPage"/>
          <dir
            name="CollectionImage"/>
          <dir
            name="CollectionListDatagrid"/>
          <dir
            name="CollectionListPage"/>
          <dir
            name="CollectionProducts"/>
        </dir>
        <dir
          name="views">
          <dir
            name="CollectionList"/>
        </dir>
      </dir>
      <dir
        name="components">
        <dir
          name="Accordion"/>
        <dir
          name="AccountPermissionGroups"/>
        <dir
          name="AccountPermissions">
          <dir
            name="components">
            <dir
              name="Header"/>
            <dir
              name="PermissionExeeded"/>
            <dir
              name="PermissionList"/>
          </dir>
        </dir>
        <dir
          name="ActionDialog"/>
        <dir
          name="AddressEdit"/>
        <dir
          name="AddressFormatter"/>
        <dir
          name="Alert"/>
        <dir
          name="AppLayout">
          <dir
            name="ListFilters">
            <dir
              name="components"/>
          </dir>
          <dir
            name="TopNav"/>
        </dir>
        <dir
          name="AssignAttributeDialog"/>
        <dir
          name="AssignAttributeValueDialog"/>
        <dir
          name="AssignCategoryDialog"/>
        <dir
          name="AssignCollectionDialog"/>
        <dir
          name="AssignContainerDialog"/>
        <dir
          name="AssignProductDialog"/>
        <dir
          name="AssignVariantDialog"/>
        <dir
          name="AttributeUnassignDialog"/>
        <dir
          name="Attributes"/>
        <dir
          name="AutocompleteSelectMenu"/>
        <dir
          name="Backlink"/>
        <dir
          name="BulkAttributeUnassignDialog"/>
        <dir
          name="BulkDeleteButton"/>
        <dir
          name="Button"/>
        <dir
          name="ButtonWithDropdown"/>
        <dir
          name="ButtonWithSelect"/>
        <dir
          name="Card"/>
        <dir
          name="CardMenu"/>
        <dir
          name="CardTitle"/>
        <dir
          name="ChannelPermission"/>
        <dir
          name="ChannelsAvailability"/>
        <dir
          name="ChannelsAvailabilityCard">
          <dir
            name="Channel"/>
        </dir>
        <dir
          name="ChannelsAvailabilityContent"/>
        <dir
          name="ChannelsAvailabilityDialog"/>
        <dir
          name="ChannelsAvailabilityDialogChannelsList"/>
        <dir
          name="ChannelsAvailabilityDialogWrapper"/>
        <dir
          name="ChannelsAvailabilityDropdown"/>
        <dir
          name="ChannelsAvailabilityMenuContent"/>
        <dir
          name="Checkbox"/>
        <dir
          name="Chip"/>
        <dir
          name="CollectionWithDividers"/>
        <dir
          name="ColorPicker"/>
        <dir
          name="Combobox">
          <dir
            name="components"/>
          <dir
            name="hooks"/>
        </dir>
        <dir
          name="CompanyAddressInput"/>
        <dir
          name="ConditionalFilter">
          <dir
            name="API">
            <dir
              name="initialState"/>
          </dir>
          <dir
            name="FilterElement"/>
          <dir
            name="UI"/>
          <dir
            name="Validation"/>
          <dir
            name="ValueProvider">
            <dir
              name="TokenArray"/>
          </dir>
          <dir
            name="context"/>
        </dir>
        <dir
          name="ConfirmButton"/>
        <dir
          name="CountryList"/>
        <dir
          name="CreatorSteps"/>
        <dir
          name="Datagrid">
          <dir
            name="ColumnPicker"/>
          <dir
            name="components"/>
          <dir
            name="customCells">
            <dir
              name="Money"/>
          </dir>
          <dir
            name="hooks"/>
        </dir>
        <dir
          name="Date"/>
        <dir
          name="DateTimeField"/>
        <dir
          name="DeletableItem"/>
        <dir
          name="DeleteButton"/>
        <dir
          name="DeleteFilterTabDialog"/>
        <dir
          name="DeleteIconButton"/>
        <dir
          name="DemoBanner"/>
        <dir
          name="DevModePanel"/>
        <dir
          name="DiscountedPrice"/>
        <dir
          name="Divider"/>
        <dir
          name="DryRun"/>
        <dir
          name="DryRunItemsList"/>
        <dir
          name="EditableTableCell"/>
        <dir
          name="ErrorMessageCard"/>
        <dir
          name="ErrorNoticeBar"/>
        <dir
          name="ErrorPage"/>
        <dir
          name="EventTime"/>
        <dir
          name="ExtendedPageHeader"/>
        <dir
          name="ExternalLink"/>
        <dir
          name="FileUploadField"/>
        <dir
          name="Filter">
          <dir
            name="FilterContent"/>
        </dir>
        <dir
          name="FilterBar"/>
        <dir
          name="FilterCard"/>
        <dir
          name="FilterPresetsSelect"/>
        <dir
          name="Form"/>
        <dir
          name="GraphiQL"/>
        <dir
          name="GraphiQLPlain"/>
        <dir
          name="Grid"/>
        <dir
          name="HorizontalSpacer"/>
        <dir
          name="IconButton"/>
        <dir
          name="IconButtonTableCell"/>
        <dir
          name="ImageUpload"/>
        <dir
          name="InternalLink"/>
        <dir
          name="LanguageSwitch"/>
        <dir
          name="Layouts">
          <dir
            name="Detail"/>
          <dir
            name="List"/>
        </dir>
        <dir
          name="LinkChoice"/>
        <dir
          name="ListItemLink"/>
        <dir
          name="Locale"/>
        <dir
          name="MediaTile"/>
        <dir
          name="Metadata"/>
        <dir
          name="Modal"/>
        <dir
          name="Money"/>
        <dir
          name="MoneyRange"/>
        <dir
          name="MultiAutocompleteSelectField"/>
        <dir
          name="MultiSelectField"/>
        <dir
          name="Navigator">
          <dir
            name="modes">
            <dir
              name="commands"/>
            <dir
              name="default"/>
          </dir>
          <dir
            name="queries"/>
        </dir>
        <dir
          name="NavigatorButton"/>
        <dir
          name="NotFoundPage"/>
        <dir
          name="OverflowTooltip"/>
        <dir
          name="PageHeader"/>
        <dir
          name="PageSectionHeader"/>
        <dir
          name="Percent"/>
        <dir
          name="PhoneField"/>
        <dir
          name="Pill"/>
        <dir
          name="PreviewPill"/>
        <dir
          name="PriceField"/>
        <dir
          name="RadioGroupField"/>
        <dir
          name="RadioSwitchField"/>
        <dir
          name="ResponsiveTable"/>
        <dir
          name="RichTextEditor">
          <dir
            name="__mocks__"/>
        </dir>
        <dir
          name="RowNumberSelect"/>
        <dir
          name="SaveFilterTabDialog"/>
        <dir
          name="SearchBar"/>
        <dir
          name="SeoForm"/>
        <dir
          name="Shop"/>
        <dir
          name="Sidebar">
          <dir
            name="menu"/>
          <dir
            name="user">
            <dir
              name="FeatureFlagsModal"/>
          </dir>
        </dir>
        <dir
          name="SingleAutocompleteSelectField"/>
        <dir
          name="SingleSelectField"/>
        <dir
          name="SortableChip"/>
        <dir
          name="SortableChipsField"/>
        <dir
          name="SortableTable"/>
        <dir
          name="StatusDot"/>
        <dir
          name="SubMenu"/>
        <dir
          name="Tab"/>
        <dir
          name="TableButtonWrapper"/>
        <dir
          name="TableCellAvatar"/>
        <dir
          name="TableCellHeader"/>
        <dir
          name="TableFilter"/>
        <dir
          name="TableHead"/>
        <dir
          name="TablePagination"/>
        <dir
          name="TableRowLink"/>
        <dir
          name="TextFieldWithChoice"/>
        <dir
          name="TextWithSelectField"/>
        <dir
          name="Timeline"/>
        <dir
          name="Timezone"/>
        <dir
          name="TooltipTableCellHeader"/>
        <dir
          name="TypeDeleteWarningDialog"/>
        <dir
          name="UserAvatar"/>
        <dir
          name="VersionInfo"/>
        <dir
          name="VerticalSpacer"/>
        <dir
          name="VisibilityCard"/>
        <dir
          name="Weight"/>
        <dir
          name="WeightRange"/>
        <dir
          name="WindowTitle"/>
        <dir
          name="messages"/>
      </dir>
      <dir
        name="configuration"/>
      <dir
        name="containers">
        <dir
          name="AppState"/>
        <dir
          name="BackgroundTasks"/>
        <dir
          name="ServiceWorker"/>
      </dir>
      <dir
        name="custom-apps">
        <dir
          name="components">
          <dir
            name="CustomAppCreatePage"/>
          <dir
            name="CustomAppDefaultToken"/>
          <dir
            name="CustomAppDetailsPage"/>
          <dir
            name="CustomAppInformation"/>
          <dir
            name="CustomAppListPage"/>
          <dir
            name="CustomAppTokens"/>
          <dir
            name="CustomAppsSkeleton"/>
          <dir
            name="PermissionAlert"/>
          <dir
            name="TokenCreateDialog"/>
          <dir
            name="TokenDeleteDialog"/>
          <dir
            name="WebhookDeleteDialog"/>
          <dir
            name="WebhookDetailsPage"/>
          <dir
            name="WebhookEvents"/>
          <dir
            name="WebhookHeaders"/>
          <dir
            name="WebhookInfo"/>
          <dir
            name="WebhookStatus"/>
          <dir
            name="WebhookSubscriptionQuery"/>
          <dir
            name="WebhooksList"/>
        </dir>
        <dir
          name="views">
          <dir
            name="CustomAppCreate"/>
          <dir
            name="CustomAppDetails"/>
        </dir>
      </dir>
      <dir
        name="customers">
        <dir
          name="components">
          <dir
            name="CustomerAddress"/>
          <dir
            name="CustomerAddressChoiceCard"/>
          <dir
            name="CustomerAddressDialog"/>
          <dir
            name="CustomerAddressListPage"/>
          <dir
            name="CustomerAddresses"/>
          <dir
            name="CustomerCreateAddress"/>
          <dir
            name="CustomerCreateDetails"/>
          <dir
            name="CustomerCreateNote"/>
          <dir
            name="CustomerCreatePage"/>
          <dir
            name="CustomerDetails"/>
          <dir
            name="CustomerDetailsPage"/>
          <dir
            name="CustomerInfo"/>
          <dir
            name="CustomerListDatagrid"/>
          <dir
            name="CustomerListPage"/>
          <dir
            name="CustomerOrders"/>
          <dir
            name="CustomerStats"/>
        </dir>
        <dir
          name="hooks"/>
        <dir
          name="providers"/>
        <dir
          name="views">
          <dir
            name="CustomerList"/>
        </dir>
      </dir>
      <dir
        name="discounts">
        <dir
          name="components">
          <dir
            name="DiscountCategories"/>
          <dir
            name="DiscountCollections"/>
          <dir
            name="DiscountCountrySelectDialog"/>
          <dir
            name="DiscountDates"/>
          <dir
            name="DiscountProducts"/>
          <dir
            name="DiscountVariants"/>
          <dir
            name="SaleCreatePage"/>
          <dir
            name="SaleDetailsPage"/>
          <dir
            name="SaleInfo"/>
          <dir
            name="SaleListDatagrid"/>
          <dir
            name="SaleListPage"/>
          <dir
            name="SaleSummary"/>
          <dir
            name="SaleType"/>
          <dir
            name="SaleValue"/>
          <dir
            name="VoucherCodes"/>
          <dir
            name="VoucherCodesAddButton"/>
          <dir
            name="VoucherCodesDatagrid"/>
          <dir
            name="VoucherCodesDeleteDialog"/>
          <dir
            name="VoucherCodesGenerateDialog"/>
          <dir
            name="VoucherCodesManualDialog"/>
          <dir
            name="VoucherCreatePage">
            <dir
              name="hooks"/>
          </dir>
          <dir
            name="VoucherDates"/>
          <dir
            name="VoucherDetailsPage"/>
          <dir
            name="VoucherInfo"/>
          <dir
            name="VoucherLimits"/>
          <dir
            name="VoucherList"/>
          <dir
            name="VoucherListDatagrid"/>
          <dir
            name="VoucherListPage"/>
          <dir
            name="VoucherRequirements"/>
          <dir
            name="VoucherSummary"/>
          <dir
            name="VoucherTypes"/>
          <dir
            name="VoucherValue"/>
        </dir>
        <dir
          name="views">
          <dir
            name="SaleCreate"/>
          <dir
            name="SaleDetails"/>
          <dir
            name="SaleList"/>
          <dir
            name="VoucherCreate"/>
          <dir
            name="VoucherDetails">
            <dir
              name="hooks"/>
          </dir>
          <dir
            name="VoucherList"/>
        </dir>
      </dir>
      <dir
        name="featureFlags">
        <dir
          name="FlagsResolver"/>
        <dir
          name="strategies"/>
      </dir>
      <dir
        name="files"/>
      <dir
        name="fragments"/>
      <dir
        name="giftCards">
        <dir
          name="GiftCardBulkCreateDialog"/>
        <dir
          name="GiftCardCreateDialog">
          <dir
            name="GiftCardCreateExpirySelect"/>
        </dir>
        <dir
          name="GiftCardExportDialogContent"/>
        <dir
          name="GiftCardSettings">
          <dir
            name="GiftCardExpirySettingsCard"/>
        </dir>
        <dir
          name="GiftCardUpdate">
          <dir
            name="GiftCardHistory">
            <dir
              name="hooks"/>
          </dir>
          <dir
            name="GiftCardResendCodeDialog"/>
          <dir
            name="GiftCardUpdateBalanceDialog"/>
          <dir
            name="GiftCardUpdateDetailsCard"/>
          <dir
            name="GiftCardUpdateExpirySelect"/>
          <dir
            name="GiftCardUpdateInfoCard"/>
          <dir
            name="GiftCardUpdatePageHeader">
            <dir
              name="hooks"/>
          </dir>
          <dir
            name="providers">
            <dir
              name="GiftCardDetailsProvider">
              <dir
                name="hooks"/>
            </dir>
            <dir
              name="GiftCardUpdateDialogsProvider">
              <dir
                name="hooks"/>
            </dir>
            <dir
              name="GiftCardUpdateFormProvider">
              <dir
                name="hooks"/>
            </dir>
          </dir>
        </dir>
        <dir
          name="GiftCardsList">
          <dir
            name="GiftCardListBulkActions"/>
          <dir
            name="GiftCardListSearchAndFilters"/>
          <dir
            name="GiftCardsListDatagrid"/>
          <dir
            name="GiftCardsListHeader"/>
          <dir
            name="GiftCardsListOrderInfoCard"/>
          <dir
            name="providers">
            <dir
              name="GiftCardListDialogsProvider"/>
            <dir
              name="GiftCardListProvider"/>
          </dir>
        </dir>
        <dir
          name="components">
          <dir
            name="GiftCardCustomerCard"/>
          <dir
            name="GiftCardDeleteDialog"/>
          <dir
            name="GiftCardSendToCustomer"/>
          <dir
            name="GiftCardSettingsExpirySelect"/>
          <dir
            name="GiftCardStatusChip"/>
          <dir
            name="GiftCardTagInput"/>
          <dir
            name="TimePeriodField"/>
        </dir>
      </dir>
      <dir
        name="graphql"/>
      <dir
        name="home">
        <dir
          name="components">
          <dir
            name="HomeActivityCard"/>
          <dir
            name="HomeAnalyticsCard"/>
          <dir
            name="HomeHeader"/>
          <dir
            name="HomeNotificationList"/>
          <dir
            name="HomePage"/>
          <dir
            name="HomeProductList"/>
        </dir>
        <dir
          name="views"/>
      </dir>
      <dir
        name="hooks">
        <dir
          name="debug"/>
        <dir
          name="graphql"/>
        <dir
          name="makeTopLevelSearch"/>
        <dir
          name="useClientPagination"/>
        <dir
          name="useFilterPresets"/>
        <dir
          name="useModalDialogErrors"/>
        <dir
          name="useModalDialogOpen"/>
        <dir
          name="useNotifier"/>
      </dir>
      <dir
        name="icons"/>
      <dir
        name="navigation">
        <dir
          name="components">
          <dir
            name="MenuCreateDialog"/>
          <dir
            name="MenuDetailsPage"/>
          <dir
            name="MenuItemDialog"/>
          <dir
            name="MenuItems"/>
          <dir
            name="MenuList"/>
          <dir
            name="MenuListPage"/>
          <dir
            name="MenuProperties"/>
        </dir>
        <dir
          name="views">
          <dir
            name="MenuDetails"/>
          <dir
            name="MenuList"/>
        </dir>
      </dir>
      <dir
        name="orders">
        <dir
          name="components">
          <dir
            name="OrderAddTransaction"/>
          <dir
            name="OrderAddressFields"/>
          <dir
            name="OrderAlerts"/>
          <dir
            name="OrderBulkCancelDialog"/>
          <dir
            name="OrderCancelDialog"/>
          <dir
            name="OrderCannotCancelOrderDialog"/>
          <dir
            name="OrderCardTitle"/>
          <dir
            name="OrderChangeWarehouseDialog"/>
          <dir
            name="OrderChannelSectionCard"/>
          <dir
            name="OrderCustomer"/>
          <dir
            name="OrderCustomerAddressesEditDialog"/>
          <dir
            name="OrderCustomerChangeDialog"/>
          <dir
            name="OrderCustomerNote"/>
          <dir
            name="OrderDetailsDatagrid"/>
          <dir
            name="OrderDetailsPage"/>
          <dir
            name="OrderDiscountCommonModal"/>
          <dir
            name="OrderDraftCancelDialog"/>
          <dir
            name="OrderDraftDetails"/>
          <dir
            name="OrderDraftDetailsDatagrid"/>
          <dir
            name="OrderDraftDetailsProducts"/>
          <dir
            name="OrderDraftDetailsSummary"/>
          <dir
            name="OrderDraftListDatagrid"/>
          <dir
            name="OrderDraftListHeader"/>
          <dir
            name="OrderDraftListPage"/>
          <dir
            name="OrderDraftPage"/>
          <dir
            name="OrderFulfillLine"/>
          <dir
            name="OrderFulfillPage"/>
          <dir
            name="OrderFulfillStockExceededDialog"/>
          <dir
            name="OrderFulfillStockExceededDialogLine"/>
          <dir
            name="OrderFulfilledProductsCard"/>
          <dir
            name="OrderFulfillmentApproveDialog"/>
          <dir
            name="OrderFulfillmentCancelDialog"/>
          <dir
            name="OrderFulfillmentSettings"/>
          <dir
            name="OrderFulfillmentTrackingDialog"/>
          <dir
            name="OrderGrantRefundPage">
            <dir
              name="components"/>
          </dir>
          <dir
            name="OrderGrantedRefunds"/>
          <dir
            name="OrderHistory">
            <dir
              name="ExtendedDiscountTimelineEvent"/>
          </dir>
          <dir
            name="OrderInvoiceEmailSendDialog"/>
          <dir
            name="OrderInvoiceList"/>
          <dir
            name="OrderList"/>
          <dir
            name="OrderListDatagrid"/>
          <dir
            name="OrderListPage"/>
          <dir
            name="OrderManualTransactionDialog"/>
          <dir
            name="OrderManualTransactionForm">
            <dir
              name="components"/>
          </dir>
          <dir
            name="OrderMarkAsPaidDialog"/>
          <dir
            name="OrderMetadataDialog"/>
          <dir
            name="OrderPayment"/>
          <dir
            name="OrderPaymentDialog"/>
          <dir
            name="OrderPaymentOrTransaction"/>
          <dir
            name="OrderPaymentSummaryCard">
            <dir
              name="components">
              <dir
                name="PaymentsSummary"/>
            </dir>
          </dir>
          <dir
            name="OrderPaymentVoidDialog"/>
          <dir
            name="OrderPriceLabel"/>
          <dir
            name="OrderProductAddDialog"/>
          <dir
            name="OrderProductsCardElements"/>
          <dir
            name="OrderRefund"/>
          <dir
            name="OrderRefundFulfilledProducts"/>
          <dir
            name="OrderRefundPage"/>
          <dir
            name="OrderRefundReturnAmount"/>
          <dir
            name="OrderRefundUnfulfilledProducts"/>
          <dir
            name="OrderReturnPage">
            <dir
              name="OrderReturnRefundItemsCard"/>
            <dir
              name="components">
              <dir
                name="ItemsCard"/>
              <dir
                name="ProductErrorCell"/>
              <dir
                name="SubmitCard"/>
            </dir>
          </dir>
          <dir
            name="OrderSendRefundPage">
            <dir
              name="components"/>
          </dir>
          <dir
            name="OrderSettings"/>
          <dir
            name="OrderSettingsPage"/>
          <dir
            name="OrderShippingMethodEditDialog"/>
          <dir
            name="OrderSummaryCard"/>
          <dir
            name="OrderTransaction">
            <dir
              name="components">
              <dir
                name="CardTitle"/>
              <dir
                name="TransactionEvents">
                <dir
                  name="components"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="OrderTransactionActionDialog"/>
          <dir
            name="OrderTransactionGiftCard"/>
          <dir
            name="OrderTransactionPayment"/>
          <dir
            name="OrderUnfulfilledProductsCard"/>
        </dir>
        <dir
          name="containers"/>
        <dir
          name="utils"/>
        <dir
          name="views">
          <dir
            name="OrderDetails">
            <dir
              name="OrderDraftDetails"/>
            <dir
              name="OrderNormalDetails"/>
            <dir
              name="OrderUnconfirmedDetails"/>
          </dir>
          <dir
            name="OrderDraftList"/>
          <dir
            name="OrderEditGrantRefund"/>
          <dir
            name="OrderFulfill"/>
          <dir
            name="OrderGrantRefund"/>
          <dir
            name="OrderList"/>
          <dir
            name="OrderRefund"/>
          <dir
            name="OrderReturn"/>
          <dir
            name="OrderSendRefund"/>
        </dir>
      </dir>
      <dir
        name="pageTypes">
        <dir
          name="components">
          <dir
            name="PageTypeAttributes"/>
          <dir
            name="PageTypeBulkDeleteDialog"/>
          <dir
            name="PageTypeCreatePage"/>
          <dir
            name="PageTypeDetails"/>
          <dir
            name="PageTypeDetailsPage"/>
          <dir
            name="PageTypeList"/>
          <dir
            name="PageTypeListPage"/>
        </dir>
        <dir
          name="hooks">
          <dir
            name="usePageTypeDelete"/>
        </dir>
        <dir
          name="views">
          <dir
            name="PageTypeList"/>
        </dir>
      </dir>
      <dir
        name="pages">
        <dir
          name="components">
          <dir
            name="PageDetailsPage"/>
          <dir
            name="PageInfo"/>
          <dir
            name="PageListDatagrid"/>
          <dir
            name="PageListPage"/>
          <dir
            name="PageOrganizeContent"/>
          <dir
            name="PageTypePickerDialog"/>
        </dir>
        <dir
          name="utils"/>
        <dir
          name="views">
          <dir
            name="PageList"/>
        </dir>
      </dir>
      <dir
        name="permissionGroups">
        <dir
          name="components">
          <dir
            name="AssignMembersDialog"/>
          <dir
            name="MembersErrorDialog"/>
          <dir
            name="PermissionGroupCreatePage"/>
          <dir
            name="PermissionGroupDeleteDialog"/>
          <dir
            name="PermissionGroupDetailsPage"/>
          <dir
            name="PermissionGroupInfo"/>
          <dir
            name="PermissionGroupListDatagrid"/>
          <dir
            name="PermissionGroupListPage"/>
          <dir
            name="PermissionGroupMemberList"/>
          <dir
            name="UnassignMembersDialog"/>
        </dir>
        <dir
          name="views">
          <dir
            name="PermissionGroupCreate"/>
          <dir
            name="PermissionGroupDetails"/>
          <dir
            name="PermissionGroupList"/>
        </dir>
      </dir>
      <dir
        name="plugins">
        <dir
          name="components">
          <dir
            name="PluginAuthorization"/>
          <dir
            name="PluginDetailsChannelsCard"/>
          <dir
            name="PluginInfo"/>
          <dir
            name="PluginSecretFieldDialog"/>
          <dir
            name="PluginSettings"/>
          <dir
            name="PluginsDetailsPage"/>
          <dir
            name="PluginsList">
            <dir
              name="PluginAvailabilityStatusPopup"/>
          </dir>
          <dir
            name="PluginsListPage"/>
        </dir>
        <dir
          name="views">
          <dir
            name="PluginList"/>
        </dir>
      </dir>
      <dir
        name="productTypes">
        <dir
          name="components">
          <dir
            name="ProductTypeAttributes"/>
          <dir
            name="ProductTypeCreatePage"/>
          <dir
            name="ProductTypeDetails"/>
          <dir
            name="ProductTypeDetailsPage"/>
          <dir
            name="ProductTypeList"/>
          <dir
            name="ProductTypeListPage"/>
          <dir
            name="ProductTypeShipping"/>
          <dir
            name="ProductTypeTaxes"/>
          <dir
            name="ProductTypeVariantAttributes"/>
        </dir>
        <dir
          name="hooks">
          <dir
            name="useProductTypeDelete"/>
        </dir>
        <dir
          name="views">
          <dir
            name="ProductTypeList"/>
          <dir
            name="ProductTypeUpdate"/>
        </dir>
      </dir>
      <dir
        name="products">
        <dir
          name="components">
          <dir
            name="OrderDiscountProviders"/>
          <dir
            name="ProductCategoryAndCollectionsForm"/>
          <dir
            name="ProductCreatePage"/>
          <dir
            name="ProductDetailsForm"/>
          <dir
            name="ProductExportDialog"/>
          <dir
            name="ProductExternalMediaDialog"/>
          <dir
            name="ProductListDatagrid"/>
          <dir
            name="ProductListPage"/>
          <dir
            name="ProductListTiles"/>
          <dir
            name="ProductListViewSwitch"/>
          <dir
            name="ProductMedia"/>
          <dir
            name="ProductMediaNavigation"/>
          <dir
            name="ProductMediaPage"/>
          <dir
            name="ProductOrganization"/>
          <dir
            name="ProductShipping"/>
          <dir
            name="ProductStocks"/>
          <dir
            name="ProductTaxes"/>
          <dir
            name="ProductTile"/>
          <dir
            name="ProductTypePickerDialog"/>
          <dir
            name="ProductUpdatePage"/>
          <dir
            name="ProductVariantAttributes"/>
          <dir
            name="ProductVariantChannels">
            <dir
              name="ChannelsAvailabilityCard"/>
            <dir
              name="VariantChannelsDialog"/>
          </dir>
          <dir
            name="ProductVariantCheckoutSettings"/>
          <dir
            name="ProductVariantCreatePage"/>
          <dir
            name="ProductVariantDeleteDialog"/>
          <dir
            name="ProductVariantEndPreorderDialog"/>
          <dir
            name="ProductVariantImageSelectDialog"/>
          <dir
            name="ProductVariantMedia"/>
          <dir
            name="ProductVariantName"/>
          <dir
            name="ProductVariantNavigation">
            <dir
              name="components"/>
          </dir>
          <dir
            name="ProductVariantPage"/>
          <dir
            name="ProductVariantPrice"/>
          <dir
            name="ProductVariantSetDefault"/>
          <dir
            name="ProductVariants"/>
        </dir>
        <dir
          name="utils"/>
        <dir
          name="views">
          <dir
            name="ProductCreate"/>
          <dir
            name="ProductList"/>
          <dir
            name="ProductUpdate">
            <dir
              name="handlers">
              <dir
                name="data"/>
            </dir>
          </dir>
          <dir
            name="ProductVariant"/>
        </dir>
      </dir>
      <dir
        name="searches"/>
      <dir
        name="services">
        <dir
          name="errorTracking">
          <dir
            name="adapters"/>
        </dir>
      </dir>
      <dir
        name="shipping">
        <dir
          name="components">
          <dir
            name="DeleteShippingRateDialog"/>
          <dir
            name="OrderValue"/>
          <dir
            name="OrderWeight"/>
          <dir
            name="PricingCard"/>
          <dir
            name="ShippingMethodProducts"/>
          <dir
            name="ShippingMethodProductsAddDialog"/>
          <dir
            name="ShippingMethodTaxes"/>
          <dir
            name="ShippingRateInfo"/>
          <dir
            name="ShippingWeightUnitDialog"/>
          <dir
            name="ShippingWeightUnitForm"/>
          <dir
            name="ShippingZoneAddWarehouseDialog"/>
          <dir
            name="ShippingZoneCountriesAssignDialog"/>
          <dir
            name="ShippingZoneCreatePage"/>
          <dir
            name="ShippingZoneDetailsPage"/>
          <dir
            name="ShippingZoneInfo"/>
          <dir
            name="ShippingZonePostalCodeRangeDialog"/>
          <dir
            name="ShippingZonePostalCodes"/>
          <dir
            name="ShippingZoneRates"/>
          <dir
            name="ShippingZoneRatesCreatePage"/>
          <dir
            name="ShippingZoneRatesPage"/>
          <dir
            name="ShippingZoneSettingsCard"/>
          <dir
            name="ShippingZonesListDatagrid"/>
          <dir
            name="ShippingZonesListPage"/>
          <dir
            name="UnassignDialog"/>
        </dir>
        <dir
          name="views">
          <dir
            name="ShippingZoneDetails"/>
        </dir>
      </dir>
      <dir
        name="siteSettings">
        <dir
          name="components">
          <dir
            name="SiteCheckoutSettingsCard"/>
          <dir
            name="SiteSettingsPage"/>
        </dir>
        <dir
          name="views"/>
      </dir>
      <dir
        name="staff">
        <dir
          name="components">
          <dir
            name="StaffAddMemberDialog"/>
          <dir
            name="StaffDetailsPage"/>
          <dir
            name="StaffListDatagrid"/>
          <dir
            name="StaffListPage"/>
          <dir
            name="StaffPassword"/>
          <dir
            name="StaffPasswordResetDialog"/>
          <dir
            name="StaffPreferences"/>
          <dir
            name="StaffProperties"/>
          <dir
            name="UserStatus"/>
        </dir>
        <dir
          name="hooks"/>
        <dir
          name="views">
          <dir
            name="StaffList"/>
        </dir>
      </dir>
      <dir
        name="styles"/>
      <dir
        name="taxes">
        <dir
          name="components">
          <dir
            name="TaxCountryDialog"/>
          <dir
            name="TaxInput"/>
          <dir
            name="TaxPageTitle"/>
          <dir
            name="TaxPagination"/>
        </dir>
        <dir
          name="pages">
          <dir
            name="TaxChannelsPage">
            <dir
              name="TaxChannelsMenu"/>
            <dir
              name="TaxCountryExceptionListItem"/>
            <dir
              name="TaxSettingsCard"/>
          </dir>
          <dir
            name="TaxClassesPage">
            <dir
              name="TaxClassesMenu"/>
          </dir>
          <dir
            name="TaxCountriesPage">
            <dir
              name="TaxCountriesMenu"/>
          </dir>
        </dir>
        <dir
          name="utils"/>
        <dir
          name="views"/>
      </dir>
      <dir
        name="theme"/>
      <dir
        name="translations">
        <dir
          name="components">
          <dir
            name="ProductContextSwitcher"/>
          <dir
            name="TranslationFields"/>
          <dir
            name="TranslationsAttributesPage"/>
          <dir
            name="TranslationsCategoriesPage"/>
          <dir
            name="TranslationsCollectionsPage"/>
          <dir
            name="TranslationsEntitiesList"/>
          <dir
            name="TranslationsEntitiesListPage"/>
          <dir
            name="TranslationsLanguageList"/>
          <dir
            name="TranslationsLanguageListPage"/>
          <dir
            name="TranslationsMenuItemPage"/>
          <dir
            name="TranslationsPagesPage"/>
          <dir
            name="TranslationsProductVariantsPage"/>
          <dir
            name="TranslationsProductsPage"/>
          <dir
            name="TranslationsSalesPage"/>
          <dir
            name="TranslationsShippingMethodPage"/>
          <dir
            name="TranslationsVouchersPage"/>
        </dir>
        <dir
          name="views">
          <dir
            name="EntityLists"/>
        </dir>
      </dir>
      <dir
        name="utils">
        <dir
          name="arrays"/>
        <dir
          name="columns"/>
        <dir
          name="data"/>
        <dir
          name="errors"/>
        <dir
          name="filters"/>
        <dir
          name="handlers"/>
        <dir
          name="lists"/>
        <dir
          name="menu"/>
        <dir
          name="metadata"/>
        <dir
          name="objects"/>
        <dir
          name="richText">
          <dir
            name="__mocks__"/>
        </dir>
      </dir>
      <dir
        name="warehouses">
        <dir
          name="components">
          <dir
            name="WarehouseCreatePage"/>
          <dir
            name="WarehouseDeleteDialog"/>
          <dir
            name="WarehouseDetailsPage"/>
          <dir
            name="WarehouseInfo"/>
          <dir
            name="WarehouseList"/>
          <dir
            name="WarehouseListPage"/>
          <dir
            name="WarehouseSettings"/>
        </dir>
        <dir
          name="views">
          <dir
            name="WarehouseCreate"/>
          <dir
            name="WarehouseDetails"/>
          <dir
            name="WarehouseList"/>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
