.list {
  list-style: none;
  max-height: 12rem;
  overflow-y: auto;
}

.listItem + .listItem {
  margin-top: var(--mu-spacing-2);
}

.preview {
  border-top: 1px solid var(--mu-colors-border-default1);
}
