.footerButtonRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: var(--mu-spacing-4);
}

.footerMetaRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% + 2 * var(--modal-padding, var(--mu-spacing-6)));
  margin-inline: calc(var(--modal-padding, var(--mu-spacing-6)) * -1);
  margin-bottom: calc(var(--mu-spacing-4) * -1);
  padding-inline: var(--modal-padding, var(--mu-spacing-6));
  padding-block: var(--mu-spacing-2);
  border-top: 1px solid var(--mu-colors-border-default1);
  background-color: var(--mu-colors-background-default2);
}
