.propertyControl > * {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 8px;
  align-items: start;
}

.propertyControl > * > button:first-of-type {
  grid-column: 1;
  justify-self: start;
  align-self: flex-start;
  margin-top: 4px;
}

.propertyControl > * > :not(button) {
  grid-column: 2;
}
