.conditionLink {
  text-decoration: none;
  max-width: 180px;
}

.conditionLink:hover .conditionText {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.itemText {
  max-width: 180px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
