.fullSidebarWide {
  height: 100%;
  display: none !important;
}

.drawerWide {
  height: 100%;
  display: block !important;
}

@media (min-width: 1200px) {
  .fullSidebarWide {
    display: block !important;
  }

  .drawerWide {
    display: none !important;
  }
}
