.content {
  max-width: 300px;
}

.list {
  margin: 0;
  padding-left: 1.125rem;
  list-style-type: disc;
  list-style-position: outside;
}

.list li {
  display: list-item;
  margin-bottom: 4px;
}

.list li:last-child {
  margin-bottom: 0;
}
