.chevron {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
  transform: rotate(-90deg);
}

.chevronOpen {
  transform: rotate(0deg);
}

.content {
  overflow: visible;
  border-bottom-left-radius: var(--mu-border-radius-4);
  border-bottom-right-radius: var(--mu-border-radius-4);
}

.surfaceSecondary {
  border-radius: 8px;
}

.contentSecondary {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
