<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="noindex" />
    <title>Saleor e-commerce</title>
    <script>
      window.__SALEOR_CONFIG__ = {
        API_URL: "<%= API_URL %>",
        APP_MOUNT_URI: "<%= APP_MOUNT_URI %>",
        MARKETPLACE_URL: "<%= MARKETPLACE_URL %>",
        SALEOR_APPS_PAGE_PATH: "<%= SALEOR_APPS_PAGE_PATH %>",
        SALEOR_APPS_JSON_PATH: "<%= SALEOR_APPS_JSON_PATH %>",
        APP_TEMPLATE_GALLERY_PATH: "<%= APP_TEMPLATE_GALLERY_PATH %>",
        APPS_MARKETPLACE_API_URI: "<%= APPS_MARKETPLACE_API_URI %>",
        APPS_TUNNEL_URL_KEYWORDS: "<%= APPS_TUNNEL_URL_KEYWORDS %>",
      };
    </script>
  </head>

  <body>
    <div id="dashboard-app"></div>
    <div id="portal"></div>
    <div id="modal-root"></div>
  </body>
</html>
