<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <meta name="robots" content="noindex" />
    <title>Saleor e-commerce</title>

    <meta name="description" content="some description">
    <meta property="og:url" content="<%= DASHBOARD_URL %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Saleor e-commerce">
    <meta property="og:description" content="some description">
    <meta property="og:image" content="https://user-images.githubusercontent.com/44495184/185379472-2a204c0b-9b7a-4a3e-93c0-2cb85205ed5e.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="<%= DASHBOARD_DOMAIN %>">
    <meta property="twitter:url" content="<%= DASHBOARD_URL %>">
    <meta name="twitter:title" content="Saleor e-commerce">
    <meta name="twitter:description" content="some description">
    <meta name="twitter:image" content="https://user-images.githubusercontent.com/44495184/185379472-2a204c0b-9b7a-4a3e-93c0-2cb85205ed5e.png">
          

    <script>
      window.__SALEOR_CONFIG__ = {
        API_URL: "<%= API_URL %>",
        APP_MOUNT_URI: "<%= APP_MOUNT_URI %>",
        MARKETPLACE_URL: "<%= MARKETPLACE_URL %>",
        SALEOR_APPS_PAGE_PATH: "<%= SALEOR_APPS_PAGE_PATH %>",
        SALEOR_APPS_JSON_PATH: "<%= SALEOR_APPS_JSON_PATH %>",
        APP_TEMPLATE_GALLERY_PATH: "<%= APP_TEMPLATE_GALLERY_PATH %>",
      };
    </script>
  </head>

  <body>
    <div id="dashboard-app"></div>
    <div id="portal"></div>
    <div id="modal-root"></div>
  </body>
</html>
