.checkboxCell {
  width: 48px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
}

.avatar {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
}

.thumbnailImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnailPlaceholder {
  width: 100%;
  height: 100%;
  background-color: var(--mu-colors-background-default2);
}

.variantCheckboxCell {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1.2);
}

.priceCell {
  text-align: right;
  white-space: nowrap;
  flex-shrink: 0;
}
