name: PR cleanup

on:
  pull_request:
    types: [closed]

jobs:
  remove_instance:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: ./.github/actions

      - uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v4.0.0
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: pnpm

      - name: Load secrets for initialize-cloud
        uses: 1password/load-secrets-action@581a835fb51b8e7ec56b71cf2ffddd7e68bb25e0 # v2.0.0
        id: load-secrets-init
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          STAGING_TOKEN: "op://Continuous Integration/CLOUD_STAGING_TOKEN/password"

      - name: Saleor login
        uses: ./.github/actions/cli-login
        with:
          token: ${{ env.STAGING_TOKEN }}

      - name: Remove instance
        env:
          PULL_REQUEST_NUMBER: ${{ github.event.number }}
        run: pnpx saleor env remove "pr-${PULL_REQUEST_NUMBER}" --force
