name: Publish container image

on:
  release:
    types: [published]

jobs:
  prepare-variables:
    name: Prepare variables
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    outputs:
      image_name: ${{ steps.get-image-name.outputs.image_name }}
      labels: ${{ steps.metadata.outputs.labels }}
      tags: ${{ steps.metadata.outputs.tags }}
      version: ${{ steps.metadata.outputs.version }}
    steps:
      - name: Get GHCR image name (owner/repo)
        id: get-image-name
        env:
          GH_REPO: ${{ github.repository }}
        run: |
          # github.repository is already in owner/repo format required
          # by GHCR; normalize it to lowercase.
          GHCR_IMAGE_NAME="${GH_REPO,,}"
          echo "image_name=$GHCR_IMAGE_NAME" >> $GITHUB_OUTPUT

      # Required by docker/metadata-action
      - name: Checkout
        uses: actions/checkout@v6

      - name: Docker metadata
        id: metadata
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ steps.get-image-name.outputs.image_name }}
          tags: |
            type=ref,event=branch
            type=pep440,pattern={{version}}
            type=pep440,pattern={{major}}.{{minor}}
          context: git

  build-push:
    needs: prepare-variables
    uses: saleor/saleor-internal-actions/.github/workflows/build-push-image-multi-platform.yaml@92c29aa0e4545de579b892b2ef9f2d6366c29c11 # v1.5.2
    permissions:
      contents: read
      id-token: write # needed for AWS/ECR login (not used, but required permission)
      packages: write # needed for GHCR
    with:
      checkout-ref: ${{ github.ref }}

      enable-ghcr: true
      oci-full-repository: ghcr.io/${{ needs.prepare-variables.outputs.image_name }}
      tags: ${{ needs.prepare-variables.outputs.tags }}
      labels: ${{ needs.prepare-variables.outputs.labels }}

      amd64-runner-image: ubuntu-24.04
      arm64-runner-image: ubuntu-24.04-arm

      build-args: |
        COMMIT_ID=${{ github.sha }}
        PROJECT_VERSION=${{ needs.prepare-variables.outputs.version }}

  summary:
    needs: [prepare-variables, build-push]
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    steps:
      - name: Display image digest and pushed tags
        env:
          tags: ${{ needs.prepare-variables.outputs.tags }}
          digest: ${{ needs.build-push.outputs.digest }}
        run: |
          echo "Tags: $tags"
          echo "Digest: $digest"
