name: Run automation tests on release
on:
  workflow_call:
    inputs:
      VERSION:
        type: string
        required: true
        description: Version of run eg. "3.19"
      CUSTOM_VERSION:
        type: string
        required: true
        description: Version of run eg. "3.19.4-5a41d18"

    secrets:
      STAGING_TOKEN:
        required: true
      TESTMO_URL:
        required: true
      TESTMO_TOKEN:
        required: true
      E2E_USER_NAME:
        required: true
      E2E_USER_PASSWORD:
        required: true
      E2E_PERMISSIONS_USERS_PASSWORD:
        required: true
      MAILPITURL:
        required: true
      SLACK_QA_STATUSES_WEBHOOK_URL:
        required: true
        
jobs:
  add-check-and-prepare-instance:
    runs-on: ubuntu-latest
    env:
      VERSION: ${{inputs.VERSION}}
      CUSTOM_VERSION: ${{inputs.CUSTOM_VERSION}}
    outputs:
      VERSION: ${{ env.VERSION }}
      TESTMO_RUN_ID: ${{ steps.init-testmo.outputs.testmo-run-id }}
      POOL_NAME: ${{ steps.pool_variables.outputs.POOL_NAME }}
      POOL_INSTANCE: ${{ steps.pool_variables.outputs.POOL_INSTANCE }}
      BASE_URL: ${{ steps.cloud_variables.outputs.BASE_URL }}
      API_URL: ${{ steps.cloud_variables.outputs.API_URL }}
      BACKUP_ID: ${{ steps.cloud_variables.outputs.BACKUP_ID }}
      BACKUP_VER: ${{ steps.cloud_variables.outputs.BACKUP_VER }}
      BACKUP_NAME: ${{ steps.cloud_variables.outputs.BACKUP_NAME }}
      CHECK_ID: ${{ steps.create-check.outputs.CHECK_ID }}
      FRAMEWORK: ${{ steps.check-framework.TEST_FRAMEWORK }}
    steps:
      - uses: actions/checkout@v4

      - id: check-framework
        name: check if run playwright or cypress
        env: 
          VERSION: ${{inputs.VERSION}}
        run: |
          if (( ${VERSION//./} >= 319 )); then
            echo "TEST_FRAMEWORK=playwright" >> $GITHUB_OUTPUT
            exit 0
          fi
          if (( ${VERSION//./} < 319 )); then
            echo "TEST_FRAMEWORK=cypress" >> $GITHUB_OUTPUT
            exit 0
          fi
          echo "Could not determinate if run cypress or playwright" >&2
          exit 1

      - name: Create check if release PR exists
        if: ${{ steps.check-framework.TEST_FRAMEWORK }} == playwright
        id: create-check
        uses: ./.github/actions/checks/create-pull-request-check
        with:
          PR_HEAD: "Test-add-tests-check-to-release-PR" # TODO: change name before merging!!!
          CHECK_NAME: "Automation_tests_run"
          STATUS: "in_progress"
          TITLE: "Automation tests run"
          DETAILS_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

      - name: Generate variables
        id: cloud_variables
        uses: ./.github/actions/prepare-tests-variables
        with:
          CLI_TOKEN: ${{ secrets.STAGING_TOKEN }}
          MODE: "from-version"
          VERSION: ${{ env.VERSION }}

      - name: Prepare instances
        id: pool_variables
        uses: ./.github/actions/prepare-instance
        with:
          STRATEGY: reload
          CLI_TOKEN: ${{ secrets.STAGING_TOKEN }}
          BASE_URL: ${{ steps.cloud_variables.outputs.BASE_URL }}
          API_URL: ${{ steps.cloud_variables.outputs.API_URL }}
          POOL_NAME: ${{ steps.cloud_variables.outputs.POOL_NAME }}
          POOL_INSTANCE: ${{ steps.cloud_variables.outputs.POOL_INSTANCE }}
          BACKUP_ID: ${{ steps.cloud_variables.outputs.BACKUP_ID }}

      - uses: ./.github/actions/testmo/testmo-init
        if: ${{ steps.check-framework.TEST_FRAMEWORK }} == 'playwright'
        with:
          testmoUrl: ${{ secrets.TESTMO_URL }}
          testmoToken: ${{ secrets.TESTMO_TOKEN }}
          testmoRunName: "Playwright run ${{ env.CUSTOM_VERSION }}"
        id: init-testmo

  run-cy-tests:
    runs-on: ubuntu-22.04
    needs: "add-check-and-prepare-instance"
    if: ${{ needs.add-check-and-prepare-instance.outputs.TEST_FRAMEWORK }} == 'cypress'
    steps:
      - name: Trigger dashboard cypress automation tests
        run: |
          export GITHUB_TOKEN=$( \
            curl --request GET --url ${{ secrets.VAULT_URL}} --header "Authorization: JWT ${{ secrets.VAULT_JWT }}" | jq -r .token \
          )

          gh api /repos/saleor/saleor-dashboard/dispatches \
            --input - <<< '{
              "event_type": "automation-tests-event",
              "client_payload": {
                "project": "DASHBOARD",
                "environment": "SANDBOX",
                "version": "${{ needs.add-check-and-prepare-instance.outputs.VERSION }}",
              }
            }'

  run-pw-tests:
    runs-on: ubuntu-22.04
    needs: "add-check-and-prepare-instance"
    if: ${{ needs.add-check-and-prepare-instance.outputs.TEST_FRAMEWORK }} == playwright
    strategy:
      fail-fast: false
      matrix:
        shard: [1/2, 2/2]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.add-check-and-prepare-instance.outputs.VERSION }}

      - name: Run playwright tests
        uses: ./.github/actions/run-pw-tests
        with:
          SHARD: ${{ matrix.shard }}
          BASE_URL: ${{ needs.add-check-and-prepare-instance.outputs.BASE_URL }}
          API_URL: ${{ needs.add-check-and-prepare-instance.outputs.API_URL }}
          E2E_USER_NAME: ${{ secrets.E2E_USER_NAME }}
          E2E_USER_PASSWORD: ${{ secrets.E2E_USER_PASSWORD }}
          E2E_PERMISSIONS_USERS_PASSWORD: ${{ secrets.E2E_PERMISSIONS_USERS_PASSWORD }}
          MAILPITURL: ${{ secrets.MAILPITURL }}
          URL_TO_RUN: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          PW_WORKERS: ${{ vars.PW_WORKERS }}
          PW_RETRIES: ${{ vars.PW_RETRIES }}

      - name: submit-results-to-testmo
        if: always()
        uses: ./.github/actions/testmo/testmo-threads-submit-playwright
        with:
          testmoUrl: ${{ secrets.TESTMO_URL }}
          testmoToken: ${{ secrets.TESTMO_TOKEN }}
          testmoRunId: ${{ needs.add-check-and-prepare-instance.outputs.TESTMO_RUN_ID }}

  tests-complete-pw:
    if: ${{ !cancelled() && needs.add-check-and-prepare-instance.outputs.TEST_FRAMEWORK  == playwright }}
    needs: ["add-check-and-prepare-instance", "run-pw-tests"]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Merge playwright reports
        uses: ./.github/actions/merge-pw-reports

      - name: complete testmo report
        uses: ./.github/actions/testmo/testmo-finish
        with:
          testmoUrl: ${{ secrets.TESTMO_URL }}
          testmoToken: ${{ secrets.TESTMO_TOKEN }}
          testmoRunId: ${{ needs.add-check-and-prepare-instance.outputs.TESTMO_RUN_ID }}

      - name: send message on slack
        working-directory: ".github"
        id: send-slack-message
        env:
          run_id: ${{ needs.add-check-and-prepare-instance.outputs.TESTMO_RUN_ID }}
          url_to_action: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          testmo_token: ${{ secrets.TESTMO_TOKEN }}
          environment: ${{ needs.add-check-and-prepare-instance.outputs.BASE_URL }}
          slack_webhook_url: ${{ secrets.SLACK_QA_STATUSES_WEBHOOK_URL }}
          ref_name: ${{github.ref_name}}

        run: |
          node workflows/postTestsResults.js \
          --run_id "$run_id" \
          --testmo_token "$testmo_token" \
          --slack_webhook_url "$slack_webhook_url" \
          --environment "$environment" \
          --url_to_action "$url_to_action" \
          --ref_name "$ref_name" 

      - id: update-check
        if: always() && ${{ needs.add-check-and-prepare-instance.outputs.CHECK_ID }}
        uses: ./.github/actions/checks/update-pull-request-check
        with:
          CHECK_ID: ${{ needs.add-check-and-prepare-instance.outputs.CHECK_ID }}
          CHECK_NAME: "Automation_tests_run"
          STATUS: "completed"
          CONCLUSION: "${{ steps.send-slack-message.outputs.status }}"
          TITLE: "Automation tests run"
          SUMMARY: "${{ steps.send-slack-message.outputs.message }}. Run details: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          DETAILS_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

  update-check-status-if-previous-job-fails:
    runs-on: ubuntu-latest
    needs: [tests-complete-pw, add-check-and-prepare-instance]
    if: |
      always() &&
      (needs.tests-complete-pw != 'success' && cancelled()) &&
      ${{ needs.add-check-and-prepare-instance.outputs.TEST_FRAMEWORK  }} == playwright

    steps:
      - uses: actions/checkout@v4

      - name: Change job status if cancelled
        if: cancelled()
        uses: ./.github/actions/checks/update-pull-request-check
        with:
          CHECK_ID: ${{ needs.add-check-and-prepare-instance.outputs.CHECK_ID }}
          CHECK_NAME: "Automation_tests_run"
          STATUS: "cancelled"
          TITLE: "Automation tests run"
          DETAILS_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"

      - name: Change job status if previous job failed or skipped
        if: needs.tests-complete-pw != 'success' && !cancelled()
        uses: ./.github/actions/checks/update-pull-request-check
        with:
          CHECK_ID: ${{ needs.add-check-and-prepare-instance.outputs.CHECK_ID }}
          CHECK_NAME: "Automation_tests_run"
          STATUS: "completed"
          CONCLUSION: "failure"
          TITLE: "Automation tests run"
          SUMMARY: "Run failed"
          DETAILS_URL: "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"